@model List<UniBook.Models.Textbook>

@{
    Layout = "~/Views/Shared/SearchLayout.cshtml";
}

<link href="../css/FormStyles.css" rel="stylesheet" />
<link href="../css-effect-for-search-input/dist/style.css" rel="stylesheet">
<body>
    <section>

        <form id="SearchForm" class="form" method="post" action="" novalidate="novalidate">

            <div>
                @if (ViewData["ErrorMessage"] != null)
                {
                    List<string>
                        errorList = ViewData["ErrorMessage"] as List<string>
                            ;
                    if (errorList.Count() > 0)
                    {
                        <div class="alert alert-danger" role="alert" style="width:100%;">
                            <ul>
                                @foreach (var currentError in errorList)
                                {
                                    <li>@currentError</li>
                                }
                            </ul>
                        </div>
                    }
                }
                @if (ViewData["SuccessMessage"] != null)
                {
                    List<string>
                        successMessage = ViewData["SuccessMessage"] as List<string>
                            ;
                    if (successMessage.Count() > 0)
                    {
                        <div class="alert alert-success" role="alert" style="width:100%;">
                            <ul>
                                @foreach (var msg in successMessage)
                                {
                                    <li>@msg</li>
                                }
                            </ul>
                        </div>
                    }
                }

            </div>

            <label for="StudentProfile" class="heading3"><b>Search Textbooks:</b></label>

            <table id="center">

                <tr>
                    <td><input type="text" id="center" class="basic-styling" name="BookID" placeholder="Search TextbookID" maxlength="25">
                    <td><input type="text" id="center" class="basic-styling" name="ISBN" placeholder="Search ISBN #" maxlength="25">
                    <td><input type="text" id="center" class="basic-styling" name="Title" placeholder="Search Title" maxlength="25">
                </tr>

                <tr>
                    <td><input type="text" id="center" class="basic-styling" name="Description" placeholder="Search Description" maxlength="25">
                    <td><input type="text" id="center" class="basic-styling" name="Publisher" placeholder="Search Publisher" maxlength="25">
                    <td><input type="text" id="center" class="basic-styling" name="Author" placeholder="Search Author" maxlength="25">
                </tr>

                <tr>
                    <td><input type="text" id="center" class="basic-styling" name="Edition" placeholder="Search Edition" maxlength="25">
                    <td><input type="text" id="center" class="basic-styling" name="Condition" placeholder="Search Condition" maxlength="25">
                    <td><input type="text" id="center" class="basic-styling" name="Price" placeholder="Search Price" maxlength="25">
                </tr>

                <tr><td></td><td><button type="submit" id="center" class="basic-button-styling" name="SearchButton" value="SearchButton">Search Book List</button></tr>

            </table>

            @if (Model == null || Model.Count() == 0)
            {
                <div class="search-results">
                    <p>Awaiting search criteria...</p>
                </div>
            }
            else
            {
                <div class="search-results">

                    <table>
                        <tr class="heading2">
                            <th>TextookID</th>
                            <th>ISBN#</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Author</th>
                            <th>Publisher</th>
                            <th>Edition</th>
                            <th>Condition</th>
                            <th>Price</th>
                            <th>View Profile</th>
                        </tr>
                        @foreach (var textbook in Model)
                        {
                            <tr>
                                <td>@textbook.BookID</td>
                                <td>@textbook.ISBN</td>
                                <td>@textbook.Title</td>
                                <td>@textbook.Description</td>
                                <td>@textbook.Author </td>
                                <td>@textbook.Publisher</td>
                                <td>@textbook.Edition</td>
                                <td>@textbook.Condition</td>
                                <td>@textbook.Price </td>
                                <td>
                                    <a href="StudentProfile?ID=@textbook.BookID" class="btn btn-block btn-warning btn-sm">View Profile</a>
                                </td>
                            </tr>
                        }
                    </table>

                </div>
            }

        </form>
    </section>
</body>
