@model List<UniBook.Models.Textbook>

@{ Layout = "~/Views/Shared/DashboardLayout.cshtml";

}
<link href="../css/searchForm.css" rel="stylesheet" />

<section>
    <div class="buy-header">
        <table>
            <tr>
                <td id="center"></td>
                <h for="StudentProfile" class="heading3"><b>Book Catalog</b></h></td>

                <td id="center"><a href="/Library/Search"><img src="../images/search_icon.png" alt="#" /></a></td>
            </tr>
        </table>
    </div>


    <div class="buy-table">
        <table>
            <tr class="title-styling">
                <th>TextookID</th>
                <th>ISBN#</th>
                <th>Title</th>
                <th>Description</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Edition</th>
                <th>Condition</th>
                <th>Price</th>
            </tr>
            @foreach (var textbook in Model)
            {
                <tr>
                    <td>@textbook.BookID</td>
                    <td>@textbook.ISBN</td>
                    <td>@textbook.Title</td>
                    <td>@textbook.Description</td>
                    <td>@textbook.Author</td>
                    <td>@textbook.Publisher</td>
                    <td>@textbook.Edition</td>
                    <td>@textbook.Condition</td>
                    <td>@textbook.Price</td>
                    <td>
                        <a href="../Library/Purchase?BookID=@textbook.BookID" class="btn btn-block btn-warning btn-sm">Buy Textbook</a>
                    </td>
                </tr>
            }
        </table>
    </div>



</section>

<!--   Core JS Files   -->
<script src="../material-dashboard-master/assets/js/core/popper.min.js"></script>
<script src="../material-dashboard-master/assets/js/core/bootstrap.min.js"></script>
<script src="../material-dashboard-master/assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="../material-dashboard-master/assets/js/plugins/smooth-scrollbar.min.js"></script>
<script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
            damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }</script>
<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../material-dashboard-master/assets/js/material-dashboard.min.js?v=3.0.4"></script>
