@model CSSTemplateDemo1._1.Models.Item
@{

}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Items <small>Preview</small>
        </h1>

    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <form id="SearchForm" method="post" action="" novalidate="novalidate">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-danger">
                        <div class="box-header">
                            <h3 class="box-title">Item Profile</h3>
                        </div>
                        <div class="box-body">
                            @if (ViewData["ErrorMessage"] != null)
                            {
                                List<string> errorList = ViewData["ErrorMessage"] as List<string>;
                                if (errorList.Count() > 0)
                                {
                                    <div class="alert alert-danger" role="alert" style="width:100%;">
                                        <ul>
                                            @foreach (var currentError in errorList)
                                            {
                                                <li>@currentError</li>
                                            }
                                        </ul>
                                    </div>
                                }
                            }
                            @if (ViewData["SuccessMessage"] != null)
                            {
                                List<string> successMessage = ViewData["SuccessMessage"] as List<string>;
                                if (successMessage.Count() > 0)
                                {
                                    <div class="alert alert-success" role="alert" style="width:100%;">
                                        <ul>
                                            @foreach (var msg in successMessage)
                                            {
                                                <li>@msg</li>
                                            }
                                        </ul>
                                    </div>
                                }
                            }

                        <div class="row">
                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <label for="signupFirstName">ID</label>
                                    <input name="ItemId" id="FirstCustIdName"
                                           placeholder="Enter your first name" type="text"
                                           maxlength="25"
                                           value="@Model.ID"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <label for="signupFirstName">Code</label>
                                    <input name="Code" id="Code"
                                           placeholder="Enter your first name" type="text"
                                           value="@Model.Code" maxlength="25"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <label for="signupFirstName">Description</label>
                                    <input name="Description" id="LastName"
                                           placeholder="Enter your first name" type="text"
                                           value="@Model.Description" maxlength="250"
                                           class="form-control">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <label for="signupFirstName">Quantity</label>
                                    <input name="Quantity" id="Quantity"
                                           placeholder="Enter your first name" type="text"
                                           value="@Model.Quantity" maxlength="25"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <label for="signupFirstName">Price</label>
                                    <input name="Price" id="Price"
                                           placeholder="Enter your first name" type="text"
                                           value="@Model.Price" maxlength="25"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <label for="signupFirstName">Details</label>
                                    <input name="Details" id="Details"
                                           placeholder="Enter your Address1" type="text"
                                           value="@Model.Details" maxlength="500"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <label for="signupLastName">Type</label>
                                    <input id="Type" name="Type"
                                           placeholder="Enter your type" type="text"
                                           value="@Model.Type" maxlength="25"
                                           class="form-control">                                    
                                </div>
                            </div>                            
                        </div>
                        </div>
                        <div class="box-footer">
                            <div class="text-center">
                                @if (User.IsInRole("admin"))
                                {
                                <button type="submit" class="btn btn-primary btn-lg" id="SearchButton" name="AddButton" value="AddButton">Add</button>
                                <button type="submit" class="btn btn-warning btn-lg" id="SearchButton" name="UpdateButton" value="UpdateButton">Update</button>
                                <button type="submit" class="btn btn-danger btn-lg" id="SearchButton" name="DeleteButton" value="DeleteButton">Delete</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


    </section>
</div>